@page
@model KhumaloCraftReg_2.Pages.Products.ContactUsModel
@{
}

<h1>Conract Us</h1>
<h2>
	For inquiries, collaborations, or more information, please reach out to us at:

	 Email: contact@khumalocraft.com
	 Phone: +123-456-7890
	 Address: 123 Artisan Way, Craftsville, Artistania

	We look forward to hearing from you!
</h2>