@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To  Khumlao Crafts </h1>

    <h2> Khumalo Craft is an artisan company specializing in handcrafted goods. Their logo features a stylized tree with intricate patterns, symbolizing growth and craftsmanship. The company's motto, "Crafting Tradition, Creating Art," is elegantly scripted beneath the logo. The color palette includes earthy tones like rich browns and deep greens, reflecting a connection to nature. The overall design evokes a sense of authenticity and creativity.</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
